
body {
  background-color: #181818;
}
h1 {
color:white; 
font-family: Monospace;
text-align: center; 
}
h2 {
color:white; 
font-family: Monospace;
}
h3 {
color:white; 
font-family: Monospace;
}
p {
color:white;
font-family: Monospace;

}

a { 
font-family: Monospace;
} 

a:hover {
  background-color: pink;
  color : red;
  font-size: 18px;
  font-family: Impacted;
}

img {
  border: 2px solid pink;
padding: 2px
}

::selection {
  background-color: rgba(20, 133, 199, .3);  
  color: inherit;  
}

#stat { 
border: none


}


