
body {
  background-color: #181818;
}
h1 {
color:white; 
font-family: Monospace;
 
}
h2 {
color:white; 
font-family: Monospace;
}
h3 {
color:white; 
font-family: Monospace;
}
p {
color:white;
font-family: Monospace;
}

